<div id="send-pin">
  <%= form_for @user, remote: true do |f| %>
    <h3>What's your name ?</h3>
    <div class="form-group">
      <%= f.text_field :name%>
    </div>
    <h3>What's your phone number?</h3>
    <div class="form-group">
      <%= f.text_field :phone_number %>
    </div>
    <%= f.submit "Send PIN", class: "btn btn-primary", id: 'send-pin-link' %>
  <% end %>
</div>

<div id="verify-pin" style="display:none">
  <h3>Enter your PIN</h3>
  <%= form_tag verify_path , remote: true do |f| %>
    <%= hidden_field_tag 'hidden_phone_number', '' %>
    <div class="form-group">
      <%= text_field_tag :pin %>
    </div>
    <%= submit_tag "Verify PIN", class: "btn btn-primary" %>
  <% end %>
</div>

<div id="status-box" class="alert alert-success" style="display:none">
  <p id="status-message">Status: Haven’t done anything yet</p>
</div>
